<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <img src="/<%= imageData.imagePath %>" alt="">
    <p><strong>Image Name:</strong> <%= imageData.name %></p>
</div>
<%- include('../includes/footer.ejs') %>
