<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <h1>manage user images</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Thumbnail</th>
                <th>File Status</th>
                <th>File Description</th>
                <th>View Image</th>
                <th>Change Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% imageData.forEach(image => { %>
                <tr>
                    <td><%= image.name %></td>
                    <td><%= image.imagePath %></td>
                    <td><%= image.status %></td>
                    <td><%= image.Description %></td>
                    <td><a href="#" class="btn btn-dark">View</a></td>
                    <td>
                        <form action="" method="POST">
                            <input type="hidden" name="imageID" value="<%= image._id %>">
                            <button class="btn btn-dark">Change Status</button>
                        </form>
                    </td>
                    <td>
                        <form action="" method="POST">
                            <input type="hidden" name="imageID" value="<%= image._id %>">
                            <button class="btn btn-dark">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="" method="POST">
                            <input type="hidden" name="imageID" value="<%= image._id %>">
                            <button class="btn btn-dark">Delete</button>
                        </form>
                    </td>
                </tr>

            <% }) %> 
        </tbody>
    </table>
</div>
<%- include('../includes/footer.ejs') %>
